*{margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body{
 	font-family: 'PT Sans', sans-serif;
 	
 }
 
 .navbar{
 
  display:flex;
  align-items:center;
  padding: 10px;
  display: flex;
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #ffdab9;
        border-radius: 0.3rem;
 }
 nav{
 	 flex: 5;
 	 text-align: right;
     }
 nav ul{
  	  display: inline-block;
  	  list-style-type: none;
       }
 nav ul li{
 	   display: inline-block;
 	   margin-right: 20px;
        }
 a{
 	text-decoration: none;
 	color: #555;
 }
 p{
 	color: #555;
 }
 .container{
 	max-width: 1300px;
 	margin-right: none;
 	padding-left: 25px;
 	padding-right: 25px;
 	
   }
  .row{
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	justify-content: space-around;
  }
  .col-2{flex-basis: 50%;
  	min-width: 250px; 
  }
  .col-2 img{max-width: 100%;
            l border-left-width: 400px;
        }
  .col-2 h1{font-size: 40px;
             line-height: 60px;
             margin: 25 0;
         }
  .button{
  	  display: inline-block;
     padding: 10px 30px;
     margin: 30px 0px;
     border-radius: 30px;
     transition: background 0.5s;
    color: #212529;
        background-color: #e0a800;
        border-color: #d39e00;
  }
 .header{
 	background:skyblue;

 }
 }
 .header .row{
 	margin-top: 50px;
}
.button:hover{
	background: #563434;
}
.categories{
	color: blue;
	margin: 70px 0;
	font-family:fantasy;
	
}
categories img{
	size: 20%;
}
.col-3{
	flex-basis: 5%;
    min-width: 250px;
    margin-bottom:20px;
}

}
.small-container{
	color: blue;
	max-width: 500px;
	margin:auto;
	padding-left:25px;
	padding-right: 25;
	font-family: cursive;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-height: 100px;
	margin-bottom: 25px;
}
.col-4 img{
	width: 50%
}
i{color: black;}

.img-container{
	width: 100%;
	margin-top: auto;
	box-sizing: border-box;
	border: 4px solid black 
}
.img-slide{
display: flex;
width:100%
height : 500px;

}
